/* Default styling for pages */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    padding: 10px;
    background: #F5F5F5;
    color: #555;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
